<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Collection" description="Includes marketing asset items required by Habitat Home Fitness">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Feature\Collection\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Marketing.Profiles.AgeGroup" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Age Group" />
            <include name="Marketing.Profiles.Gender" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Gender" />
            <include name="Marketing.Profiles.Sport" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/Sports" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
