node_modules/
scjssconfig.json
/fitness/*/build
/fitness/*/sitecore/package
/fitness/*/sitecore/manifest
/fitness/*/src/temp
/fitness/*/src/deploy
/fitness/app/.env
/fitness/kiosk/.env
**/*.deploysecret.config
*.zip
launch.json
**/.vscode
.vs/*
/data/