<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="JSS.HabitatHome.Fitness.MarketingDefinitions" description="Includes marketing definition items used by Habitat Home Fitness">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Fitness.MarketingDefinitions.Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/Habitat Fitness" />
            <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/Habitat Fitness" />
            <include name="EmailMessage" database="master" path="/sitecore/content/Email/Messages/2019/02/02T213334/Send mobile app link" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>