<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Sitecore.HabitatHome.Fitness.Personalization.RegisterDependencies, Sitecore.HabitatHome.Fitness.Personalization" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Sitecore.HabitatHome.Fitness.Personalization.Pipelines.Initialize.RouteInitializer, Sitecore.HabitatHome.Fitness.Personalization"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                   resolve="true" />
      </initialize>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <!--<processor type="Sitecore.JavaScriptServices.ViewEngine.LayoutService.Pipelines.GetLayoutServiceContext.AppNavigationProcessor, Sitecore.JavaScriptServices.ViewEngine" resolve="true">
              <AllowedConfigurations hint="list">
                <config id="1">jss</config>
              </AllowedConfigurations>
            </processor>-->
            <processor type="Sitecore.HabitatHome.Fitness.Personalization.Pipelines.GetLayoutServiceContext.ContactInfo, Sitecore.HabitatHome.Fitness.Personalization" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <Applications hint="list">
                <jssreactstarter>habitatfitness</jssreactstarter>
              </Applications>
            </processor>
            <processor type="Sitecore.HabitatHome.Fitness.Personalization.Pipelines.GetLayoutServiceContext.EventInfo, Sitecore.HabitatHome.Fitness.Personalization" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <Applications hint="list">
                <jssreactstarter>habitatfitness</jssreactstarter>
              </Applications>
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_profilenames" storageType="yes" indexType="untokenized">Sitecore.HabitatHome.Fitness.Personalization.Indexing.ComputedFields.ProfileNamesField, Sitecore.HabitatHome.Fitness.Personalization</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_profilenames" storageType="yes" indexType="untokenized">Sitecore.HabitatHome.Fitness.Personalization.Indexing.ComputedFields.ProfileNamesField, Sitecore.HabitatHome.Fitness.Personalization</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>