<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="2.0.8" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.IdentityModel.Protocol.Extensions" version="1.0.3.308261200" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Sitecore.Analytics.Core.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.Model.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Analytics.XConnect.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Framework.Conditions" version="1.1.12" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Abstractions" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Framework.Configuration.Extensions" version="2.0.1" targetFramework="net462" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Mvc.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.Configuration.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Client.NoReferences" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Collection.Model" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.XConnect.Search" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="Sitecore.Xdb.Common.Web" version="9.0.171219" targetFramework="net462" developmentDependency="true" />
  <package id="System.Collections" version="4.0.11" targetFramework="net462" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net462" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net462" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net462" />
  <package id="System.ComponentModel.Primitives" version="4.1.0" targetFramework="net462" />
  <package id="System.ComponentModel.TypeConverter" version="4.1.0" targetFramework="net462" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net462" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net462" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.3.308261200" targetFramework="net462" />
  <package id="System.Interactive.Async" version="3.1.1" targetFramework="net462" />
  <package id="System.Interactive.Async.Providers" version="3.1.1" targetFramework="net462" />
  <package id="System.IO" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net462" />
  <package id="System.Linq.Queryable" version="4.0.1" targetFramework="net462" />
  <package id="System.Net.Http" version="4.0.0" targetFramework="net462" />
  <package id="System.ObjectModel" version="4.0.12" targetFramework="net462" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net462" />
  <package id="System.Reflection.Extensions" version="4.0.1" targetFramework="net462" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net462" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net462" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net462" />
  <package id="System.Threading" version="4.0.11" targetFramework="net462" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net462" />
</packages>