<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Sitecore.Demo.Fitness.Feature.Personalization.RegisterDependencies, Sitecore.Demo.Fitness.Feature.Personalization" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Demo.Fitness.Feature.Personalization.Pipelines.Initialize.RouteInitializer, Sitecore.Demo.Fitness.Feature.Personalization"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                   resolve="true" />
      </initialize>
      <group groupName="layoutService">
        <pipelines>
          <getLayoutServiceContext>
            <processor type="Sitecore.Demo.Fitness.Feature.Personalization.Pipelines.GetLayoutServiceContext.ContactInfo, Sitecore.Demo.Fitness.Feature.Personalization" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <Applications hint="list">
                <jssreactstarter>lighthousefitness</jssreactstarter>
              </Applications>
            </processor>
            <processor type="Sitecore.Demo.Fitness.Feature.Personalization.Pipelines.GetLayoutServiceContext.EventInfo, Sitecore.Demo.Fitness.Feature.Personalization" resolve="true">
              <AllowedConfigurations hint="list">
                <jss>jss</jss>
              </AllowedConfigurations>
              <Applications hint="list">
                <jssreactstarter>lighthousefitness</jssreactstarter>
              </Applications>
            </processor>
          </getLayoutServiceContext>
        </pipelines>
      </group>
    </pipelines>
    <contentSearch>
      <indexConfigurations>
        <defaultLuceneIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_profilenames" storageType="yes" indexType="untokenized">Sitecore.Demo.Fitness.Feature.Personalization.Indexing.ComputedFields.ProfileNamesField, Sitecore.Demo.Fitness.Feature.Personalization</field>
            </fields>
          </documentOptions>
        </defaultLuceneIndexConfiguration>
        <defaultSolrIndexConfiguration>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="_profilenames" returnType="stringCollection">Sitecore.Demo.Fitness.Feature.Personalization.Indexing.ComputedFields.ProfileNamesField, Sitecore.Demo.Fitness.Feature.Personalization</field>
              <field fieldName="coordinates"   returnType="coordinate">Sitecore.Demo.Fitness.Feature.Personalization.Indexing.ComputedFields.CoordinatesField, Sitecore.Demo.Fitness.Feature.Personalization</field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>