<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.AppItems" description="Includes content items required by Lighthouse Fitness" dependencies="Project.Common">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\AppItems" />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Project/lighthousefitness" />
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/lighthousefitness" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/lighthousefitness" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/lighthousefitness" />
            <include name="Media" database="master" path="/sitecore/media library/project/lighthousefitness" />
            <include name="Global Content" database="master" path="/sitecore/content/global" />
            <include name="Content" database="master" path="/sitecore/content/lighthousefitness" />
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/JSS Development Workflow" />
            <include name="AppKey" database="master" path="/sitecore/system/Settings/Services/API Keys/Lighthouse Fitness API Key" />
          </predicate>

          <userDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\AppItems\Users" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" pattern="jsstrial" />
          </userPredicate>
          <userSyncConfiguration removeOrphans="false" />

          <roleDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\AppItems\Roles" />
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" pattern="jsstrial" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
