<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="SitecoreHealthExtensions.SwitchHealthRequest, SitecoreHealthExtensions" patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.NormalizeRawUrl, Sitecore.Kernel']">
          <param desc="livenessPath">/healthz</param>
          <param desc="readinessPath">/readiness</param>
        </processor>
      </preprocessRequest>
      <livenessHealthCheck>
        <processor type="SitecoreHealthExtensions.LivenessAlwaysOk, SitecoreHealthExtensions" />
      </livenessHealthCheck>
      <readinessHealthCheck>
        <processor name="sql-core-check" type="SitecoreHealthExtensions.SqlReadinessCheck, SitecoreHealthExtensions" role:require="Standalone or ContentManagement">
          <param desc="connectionStringName">core</param>
          <param desc="connectTimeoutMilliseconds">1000</param>
          <param desc="commandTimeoutMilliseconds">1000</param>
        </processor>
        <processor name="sql-master-check" type="SitecoreHealthExtensions.SqlReadinessCheck, SitecoreHealthExtensions" role:require="Standalone or ContentManagement">
          <param desc="connectionStringName">master</param>
          <param desc="connectTimeoutMilliseconds">1000</param>
          <param desc="commandTimeoutMilliseconds">1000</param>
        </processor>
        <processor name="sql-web-check" type="SitecoreHealthExtensions.SqlReadinessCheck, SitecoreHealthExtensions">
          <param desc="connectionStringName">web</param>
          <param desc="connectTimeoutMilliseconds">1000</param>
          <param desc="commandTimeoutMilliseconds">1000</param>
        </processor>
        <processor name="solr-check" type="SitecoreHealthExtensions.HttpReadinessCheck, SitecoreHealthExtensions">
          <param desc="connectionStringName">solr.search</param>
          <param desc="timeoutMilliseconds">500</param>
          <param desc="expectedStatusCode">200</param>
          <param desc="method">HEAD</param>
          <param desc="path">/</param>
        </processor>
        <processor name="xconnect-check" type="SitecoreHealthExtensions.HttpReadinessCheck, SitecoreHealthExtensions">
          <param desc="connectionStringName">xconnect.collection</param>
          <param desc="timeoutMilliseconds">500</param>
          <param desc="expectedStatusCode">200</param>
          <param desc="method">HEAD</param>
          <param desc="path">/</param>
        </processor>
      </readinessHealthCheck>
    </pipelines>
  </sitecore>
</configuration>