<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:contenthub="http://www.sitecore.net/xmlconfig/contenthub/">
  <sitecore contenthub:require="On">
    <unicorn>
      <configurations>
        <configuration name="Project.ContentHub" description="Includes content items required by Habitat Home Fitness for Content Hub integration" dependencies="Project.Common">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\Fitness.ContentHub.Serialization"  />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Content Hub Entity Types" />
            <include name="ConfigSettings" database="master" path="/sitecore/system/Modules/CMP" />
            <include name="CmpRoot" database="master" path="/sitecore/content/CMP" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
