<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:kiosk="http://www.sitecore.net/xmlconfig/kiosk/">
  <sitecore kiosk:require="on" unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.KioskAppItems" description="Includes content items required by Lighthouse Fitness Kiosk app" dependencies="Project.AppItems">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\KioskAppItems" />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Project/lighthousefitness-kiosk" />
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/lighthousefitness-kiosk" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/lighthousefitness-kiosk" />
            <include name="Media" database="master" path="/sitecore/media library/project/lighthousefitness-kiosk" />
            <include name="Content" database="master" path="/sitecore/content/lighthousefitness-kiosk" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>