<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:contenthub="http://www.sitecore.net/xmlconfig/contenthub/">
  <sitecore contenthub:require="Enabled" unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="Project.Fitness.ContentHub" description="Includes content items required by Lighthouse Fitness for Content Hub integration" dependencies="Project.Common">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\ContentHub"  />
          <predicate>
            <include name="ContentHub.Template.EntityType.Event" database="master" path="/sitecore/templates/Project/Content Hub Entity Types" />
            <include name="ContentHub.ModulesConfig.FitnessEvent" database="master" path="/sitecore/system/Modules/CMP/Config/Fitness Event" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
