<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.AppItems" description="Includes content items required by Habitat Home Fitness" dependencies="Project.Common">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\Fitness.AppItems.Serialization" />
          <predicate>
            <include name="Templates" database="master" path="/sitecore/templates/Project/habitatfitness" />
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/habitatfitness" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/habitatfitness" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/habitatfitness" />
            <include name="Media" database="master" path="/sitecore/media library/project/habitatfitness" />
            <include name="Global Content" database="master" path="/sitecore/content/global" />
            <include name="Content" database="master" path="/sitecore/content/habitatfitness" />
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/JSS Development Workflow" />
            <include name="AppKey" database="master" path="/sitecore/system/Settings/Services/API Keys/Habitat Fitness API Key" />
          </predicate>

          <userDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\Fitness.AppItems.Serialization\Users" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" pattern="jsstrial" />
          </userPredicate>
		      <userSyncConfiguration removeOrphans="false" />
		  
          <roleDataStore physicalRootPath="$(fitnessSourceFolder)\Project\AppItems\serialization\Fitness.AppItems.Serialization\Roles" />
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" pattern="jsstrial" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
