<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/"
               xmlns:kiosk="http://www.sitecore.net/xmlconfig/kiosk/">
  <sitecore kiosk:require="on">
    <unicorn>
      <configurations>
        <configuration name="JSS.HabitatHome.Fitness.KioskAppItems" description="Includes content items required by Habitat Home Fitness Kiosk app" dependencies="JSS.HabitatHome.Fitness.AppItems">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\Fitness.KioskAppItems.Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Project/habitatfitness-kiosk" />
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/habitatfitness-kiosk" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/habitatfitness-kiosk" />
            <include name="Media" database="master" path="/sitecore/media library/project/habitatfitness-kiosk" />
            <include name="Content" database="master" path="/sitecore/content/habitatfitness-kiosk" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>