<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="JSS.HabitatHome.Fitness.AppItems" description="Includes content items required by Habitat Home Fitness" dependencies="JSS.HabitatHome.Fitness.Common">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Project\Fitness.AppItems.Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Templates" database="master" path="/sitecore/templates/Project/habitatfitness" />
            <include name="Layout" database="master" path="/sitecore/layout/Layouts/Project/habitatfitness" />
            <include name="PlaceholderSettings" database="master" path="/sitecore/layout/Placeholder Settings/Project/habitatfitness" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/habitatfitness" />
            <include name="Media" database="master" path="/sitecore/media library/project/habitatfitness" />
            <include name="Global Content" database="master" path="/sitecore/content/global" />
            <include name="Content" database="master" path="/sitecore/content/habitatfitness" />
            <include name="Workflow" database="master" path="/sitecore/system/Workflows/JSS Development Workflow" />
            <include name="AppKey" database="master" path="/sitecore/system/Settings/Services/API Keys/Habitat Fitness API Key" />
          </predicate>

          <userDataStore type="Unicorn.Users.Data.FilesystemUserDataStore, Unicorn.Users" physicalRootPath="$(fitnessSourceFolder)\Fitness.AppItems.Serialization\Users" singleInstance="true" />
          <userPredicate type="Unicorn.Users.UserPredicates.ConfigurationUserPredicate, Unicorn.Users" singleInstance="true">
            <include domain="sitecore" pattern="jsstrial" />
          </userPredicate>
		      <userSyncConfiguration removeOrphans="false" defaultPassword="random" minPasswordLength="8" type="Unicorn.Users.Loader.DefaultUserSyncConfiguration, Unicorn.Users" singleInstance="true" />
		  
          <roleDataStore type="Unicorn.Roles.Data.FilesystemRoleDataStore, Unicorn.Roles" physicalRootPath="$(fitnessSourceFolder)\Project\Fitness.AppItems.Serialization\Roles" singleInstance="true"/>
          <rolePredicate type="Unicorn.Roles.RolePredicates.ConfigurationRolePredicate, Unicorn.Roles" singleInstance="true">
            <include domain="sitecore" pattern="jsstrial" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
