<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <!-- Set as default content start item in Content Editor -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/LighthouseFitness/home</patch:attribute>
      </site>
      <site name="lighthousefitness" role:require="Standalone or ContentManagement">
        <!-- Use Lighthouse Fitness as default on the CM when opening the Experience Editor. -->
        <patch:attribute name="hostName">*</patch:attribute>
      </site>
    </sites>

    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value">LighthouseFitness</patch:attribute>
      </setting>

      <!-- InstanceName must be static as we use it in the init container for publishing -->
      <setting name="InstanceName">
        <patch:attribute name="value">CM-LIGHTHOUSE</patch:attribute>
      </setting>

      <!--
        Enable Sitecore.Services.Client (SSC) ItemService
        https://doc.sitecore.com/developers/100/sitecore-experience-manager/en/sitecore-services-client-security.html
      -->
      <setting name="Sitecore.Services.SecurityPolicy">
        <patch:attribute name="value">Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure</patch:attribute>
      </setting>

      <!-- Enable HTTP login (Traefik to CM/CD is HTTP only) -->
      <setting name="Sitecore.Services.AllowToLoginWithHttp">
        <patch:attribute name="value">true</patch:attribute>
      </setting>

      <!-- Enable Token Authorization -->
      <setting name="Sitecore.Services.Token.Authorization.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>

    <api>
      <tokenSecurity>
        <signingProvider type="Sitecore.Services.Infrastructure.Security.SymmetricKeySigningProvider, Sitecore.Services.Infrastructure">
          <param desc="connectionStringName">Sitecore.Services.Token.SecurityKey</param>
        </signingProvider>
      </tokenSecurity>
    </api>

  </sitecore>
</configuration>