<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <sites>
      <!-- Set as default content start item in Content Editor -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/LighthouseFitness/home</patch:attribute>
      </site>
      <site name="lighthousefitness" role:require="Standalone or ContentManagement">
        <!-- Use Lighthouse Fitness as default on the CM when opening the Experience Editor. -->
        <patch:attribute name="hostName">*</patch:attribute>
      </site>
    </sites>

    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value">LighthouseFitness</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>