<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
  <sitecore>
    <sites>
      <!-- Set as default content start item in Content Editor -->
      <site name="shell">
        <patch:attribute name="contentStartItem">/LighthouseFitness/home</patch:attribute>
      </site>
    </sites>

    <settings>
      <setting name="Preview.DefaultSite">
        <patch:attribute name="value">LighthouseFitness</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>