<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="JSS.HabitatHome.Fitness.Automation" description="Includes items required for Automation by Habitat Home Fitness">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Sitecore.HabitatHome.Fitness.Automation.Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Plans" database="master" path="/sitecore/system/Marketing Control Panel/Automation Plans" />
            <include name="PushNotificationActivity" database="master" path="/sitecore/system/Settings/Analytics/Marketing Automation/Activity Types/Send push notification" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>