<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sitecore-demo-integrations-ordercloud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/575f0a7c-17d6-4c66-b207-f770cbd5bbd4/resourcegroups/iva-ordercloud/providers/Microsoft.Web/sites/sitecore-demo-integrations-ordercloud</ResourceId>
    <UserName>$sitecore-demo-integrations-ordercloud</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://sitecore-demo-integrations-ordercloud.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>