<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="habitatfitness"
             deploymentSecret="mavarpkb2bbnrzctyjle3yy5xvku9z69gv22a2d53zh"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
