<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<authenticationProvider>
				<SharedSecret>749CABBC85EAD20CE55E2C6066F1BE375D2115696C8A8B24DB6ED1FD60613086</SharedSecret>
				<!-- 
					Writes the reason why failed automated tool authentications failed to the Sitecore logs.
					Will result in writing your shared secret to the logs as part of the signature base,
					so disable it unless you're debugging failed authentications.
				-->
				<WriteAuthFailuresToLog>false</WriteAuthFailuresToLog>
			</authenticationProvider>
		</unicorn>
	</sitecore>
</configuration>