<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- HABITAT FITNESS: Add the url of the public facing site here -->
      <setting name="HabitatFitness.PublicHostName" value="http://localhost:3000" />
      <!-- HABITAT FITNESS: This is the current Google Cloud Messaging (firebase) API endpoint. -->
      <setting name="HabitatFitness.FirebaseMessagingApiUri" value="https://fcm.googleapis.com/fcm/send" />
      <!-- HABITAT FITNESS: Add Google Cloud Messaging (firebase) API key here -->
      <setting name="HabitatFitness.FirebaseMessagingApiKey" value="" />
    </settings>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <!-- value of 'name' property must be unique -->
          <schema name="habitatfitness" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
            <param desc="modeltype">Sitecore.HabitatHome.Fitness.Collection.Model.ModelFactory,Sitecore.HabitatHome.Fitness.Collection.Model</param>
            <param desc="staticproperty">Instance</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
    <dataAdapterManager>
      <providers>
        <add name="xconnect" type="Sitecore.Analytics.XConnect.DataAccess.XConnectDataAdapterProvider, Sitecore.Analytics.XConnect">
          <facets hint="raw:AddFacet">
            <facet facetKey="Sports"/>
            <facet facetKey="Demographics"/>
            <facet facetKey="Subscriptions"/>
            <facet facetKey="SubscriptionTokens"/>
            <facet facetKey="FavoriteEvents"/>
            <facet facetKey="RegisteredEvents"/>
          </facets>
        </add>
      </providers>
    </dataAdapterManager>
    <pipelines>
      <initialize>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.Initialize.RouteInitializer, Sitecore.HabitatHome.Fitness.Collection"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                   resolve="true" />
      </initialize>
      <commitSession>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.CommitSession.UpdateFacetsFromTracker, Sitecore.HabitatHome.Fitness.Collection"
                   patch:before="processor[@type='Sitecore.Analytics.Pipelines.CommitSession.ProcessSubscriptions, Sitecore.Analytics']"
                   resolve="true"/>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.CommitSession.SendInitialEventSubscription, Sitecore.HabitatHome.Fitness.Collection"
                    patch:after="processor[@type='Sitecore.HabitatHome.Fitness.Collection.Pipelines.CommitSession.UpdateFacetsFromTracker, Sitecore.HabitatHome.Fitness.Collection']"
                    resolve="true"/>
      </commitSession>
    </pipelines>
    <services>
      <configurator type="Sitecore.HabitatHome.Fitness.Collection.RegisterDependencies, Sitecore.HabitatHome.Fitness.Collection" />
    </services>
  </sitecore>
</configuration>