<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<unicorn>
      <defaults>
        <targetDataStore set:physicalRootPath="$(fitnessSourceFolder)\$(layer)\$(module)\serialization" />
      </defaults>
    </unicorn>
	</sitecore>
</configuration>
