<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <xconnect>
      <runtime type="Sitecore.XConnect.Client.Configuration.RuntimeModelConfiguration,Sitecore.XConnect.Client.Configuration">
        <schemas hint="list:AddModelConfiguration">
          <!-- value of 'name' property must be unique -->
          <schema name="habitatfitness" type="Sitecore.XConnect.Client.Configuration.StaticModelConfiguration,Sitecore.XConnect.Client.Configuration" patch:after="schema[@name='collectionmodel']">
            <param desc="modeltype">Sitecore.HabitatHome.Fitness.Collection.Model.ModelFactory,Sitecore.HabitatHome.Fitness.Collection.Model</param>
            <param desc="staticproperty">Instance</param>
          </schema>
        </schemas>
      </runtime>
    </xconnect>
    <dataAdapterManager>
      <providers>
        <add name="xconnect" type="Sitecore.Analytics.XConnect.DataAccess.XConnectDataAdapterProvider, Sitecore.Analytics.XConnect">
          <facets hint="raw:AddFacet">
            <facet facetKey="Sports"/>
            <facet facetKey="Demographics"/>
            <facet facetKey="Subscriptions"/>
            <facet facetKey="SubscriptionTokens"/>
            <facet facetKey="FavoriteEvents"/>
            <facet facetKey="RegisteredEvents"/>
          </facets>
        </add>
      </providers>
    </dataAdapterManager>
    <pipelines>
      <initialize>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.Initialize.RouteInitializer, Sitecore.HabitatHome.Fitness.Collection"
                   patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                   resolve="true" />
      </initialize>
      <commitSession>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.CommitSession.UpdateFacetsFromTracker, Sitecore.HabitatHome.Fitness.Collection"
                   patch:before="processor[@type='Sitecore.Analytics.Pipelines.CommitSession.ProcessSubscriptions, Sitecore.Analytics']"
                   resolve="true"/>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.CommitSession.SendAppInviteEmail, Sitecore.HabitatHome.Fitness.Collection"
                           patch:after="processor[@type='Sitecore.HabitatHome.Fitness.Collection.Pipelines.CommitSession.UpdateFacetsFromTracker, Sitecore.HabitatHome.Fitness.Collectio']"
                           resolve="true"/>
      </commitSession>
      <mvc.requestBegin>
        <processor type="Sitecore.HabitatHome.Fitness.Collection.Pipelines.RequestBegin.IdentifyContactViaAlias, Sitecore.HabitatHome.Fitness.Collection"
                   patch:after="processor[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']"
                   resolve="true" />
      </mvc.requestBegin>
    </pipelines>
    <services>
      <configurator type="Sitecore.HabitatHome.Fitness.Collection.RegisterDependencies, Sitecore.HabitatHome.Fitness.Collection" />
    </services>
  </sitecore>
</configuration>