<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="JSS.HabitatHome.Fitness.Personalization" description="Includes items required for personalization by Habitat Home Fitness">
          <targetDataStore physicalRootPath="$(fitnessSourceFolder)\Sitecore.HabitatHome.Fitness.Personalization.Serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            
            <include name="Rules" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Habitat Fitness" />
            <include name="LayoutService" database="master" path="/sitecore/system/Modules/Layout Service/Rendering Contents Resolvers">
              <exclude children="true">
                <except name="Recommended Events Resolver" />
                <except name="Recommended Products Resolver" />
              </exclude>
            </include>

          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>